@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply mx-auto max-w-screen-xl;
}


.center {
  @apply flex justify-center items-center;
}





.details-page-banner {
  background-image: linear-gradient(to right, rgba(24, 23, 23, 0.7), rgba(128, 128, 128, 0.7)), url('/assets/images/checkout/checkout.png');
  background-size: cover; 
  background-position: center; 
  position: relative;
}
